VITE_SUPABASE_URL=https://gsovahzodkluijpclvsd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdzb3ZhaHpvZGtsdWlqcGNsdnNkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk1ODM1NjYsImV4cCI6MjA2NTE1OTU2Nn0.vr_uDGAZc4bRKcf0eum4Dkx4E73mlHdWdq_G2NH5MS8